$color_white: #fff;
$color_black: #000;
$color_blue: #2361c2;
$color_dark_blue: #002447;
$color_light_blue: #ebf5ff;
$color_dark_blue_hover: #1f8fff;
$color_grey: #465777;
$color_dark_grey: #3d5266;
$color_light_grey: #708ca9;
$color_light_grey_hover: #5198d7;
$color_border: #d8d8d8;
$color_orange: #ffbf00;
$color_orange_hover: #ffd966;
$color_brown: #664d00;
$color_light: #ebf5ff;

$linear_gradient_grey: linear-gradient(180deg, #f2f5f7 0%, #fafbfc 100%);
$linear_gradient_blue: linear-gradient(180deg, #0061c2 0%, #1e90ff 100%);
$linear_gradient_futter: linear-gradient(180deg, #122435 0%, #1a334c 100%);;

$reflex_sm: 360px;
$reflex_md: 640px;
$reflex_lg: 768px;
$reflex_xlg: 1000px;